.agentsPage {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 0.625rem;

    .tabSwitcher {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;

        button {
            background-color: var(--white);
            color: var(--first);
            border: 0.063rem solid var(--first);
            padding: 0.313rem 0.5rem;
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;

            &:first-child {
                border-radius: 1.25rem 0 0 1.25rem;
            }

            &:last-child {
                border-radius: 0 1.25rem 1.25rem 0;
            }
        }

        .activeTab {
            background-color: var(--first);
            color: var(--white);
            transition: all 0.3s ease-in-out;
        }
    }

    .agentsTable {
        text-align: center;
        background-color: var(--second);
        color: var(--white);
        border-collapse: separate;
        border-spacing: 0.313rem;

        thead {
            background-color: var(--first);

            tr {
                th {
                    padding: 0.25rem;
                }
            }
        }
    }

    .agentForm {
        background-color: var(--first);
        padding: 0.313rem 0.625rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        .inputField {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.25rem;
            text-align: center;

            label {
                color: var(--white);
                text-transform: capitalize;
            }

            input {
                text-align: center;
            }

            select {
                width: 100%;
                text-transform: capitalize;
            }
        }

        .line {
            height: 0.25rem;
            border-radius: 0.5rem;
            width: 100%;
            margin: 0.313rem auto;
            background-color: var(--second);
        }

        .actions {
            display: flex;
            justify-content: center;
            gap: 0.313rem;

            button {
                background-color: var(--white);
                color: var(--first);
                text-transform: capitalize;
                font-weight: bold;
                border: none;
                border-radius: 0.5rem;
                padding: 0.313rem 0.625rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }

    .agentSubmitToast {
        background-color: var(--first);
        color: var(--white);
        padding: 0.313rem 0.625rem;
        border-radius: 0.5rem;
        width: fit-content !important;
        position: fixed;
        top: 3.125rem;
        right: 1rem;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: 0.313rem;
        text-transform: capitalize;
        z-index: 99999;

        img {
            width: 1.25rem;
        }
    }
}
