nav {
    position: sticky;
    top: 0;
    background-color: var(--first);
    padding: 0.625rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    z-index: 999;

    button {
        background-color: transparent;
        padding: 0;
        border: 0;
        position: relative;

        svg {
            color: var(--white);
        }
    }

    span {
        cursor: pointer;
        padding: 0;

        img {
            width: 1.563rem;
        }
    }

    .agentName {
        background-color: var(--white);
        color: var(--first);
        cursor: text;
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.313rem;
    }

    .toAgentLogin {
        padding: 0.313rem 0.5rem;
        background-color: var(--white);
        color: var(--first);
        border: none;
        border-radius: 0.625rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.313rem;
        justify-self: center;
        align-self: center;
    }

    .NotificationDot {
        position: absolute;
        top: -0.125rem;
        right: -0.313rem;
        background-color: var(--error);
        width: 0.938rem;
        height: 0.938rem;
        border-radius: 50%;
        font-size: 0.625rem;
        color: var(--white);
    }
}
