@import url("./fonts.css");

:root {
    --white: #fff;
    --blacks: #000;
    --first: #007782;
    --second: #66adb4;
}

* {
    font-family: ubuntu !important;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-transform: capitalize;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--first) !important;
}

body {
    width: 100dvw;
    height: 100dvh;
}

input,
textarea {
    padding: 0.313rem;
    border-radius: 0.5rem;
    border: 0.063rem solid var(--second);
    color: var(--first);

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--second);
        text-transform: capitalize;
    }
}

.inpComp {
    padding: 0.625rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .inputField {
        label {
            display: block;
            text-transform: capitalize;
            margin-bottom: 0.25rem;
            color: var(--first);
            font-weight: bold;
        }
    }

    .btnsField {
        display: flex;
        gap: 0.5rem;

        button {
            padding: 0.313rem 0.625rem;
            border-radius: 0.5rem;
            border: none;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 0.313rem;
            background-color: var(--first);
            color: var(--white);
        }

        .disabledBtn {
            background-color: var(--second);
        }
    }
}

.tempsList {
    padding: 0.625rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .temp {
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        border-radius: 0.5rem;
        background-color: var(--first);

        h5,
        p {
            color: var(--white) !important;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                cursor: pointer;
            }
        }

        .body {
            p {
                cursor: pointer;
                display: inline;
                word-break: break-word;
                white-space: pre-wrap;
                overflow-wrap: break-word;
            }
        }
    }
}

.copyToast {
    background-color: var(--first);
    color: var(--white);
    padding: 0.313rem 0.625rem;
    border-radius: 0.5rem;
    width: fit-content !important;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.313rem;
    text-transform: capitalize;

    img {
        width: 1.25rem;
    }
}

.loaderComp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainLoader {
    width: 100dvw !important;
    height: 100dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}
