@import url("./fonts.css");

:root {
    --white: #fff;
    --black: #000;
    --first: #007782;
    --second: #66adb4;
    --error: #ff2c2c;
}

* {
    font-family: outfit !important;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-transform: capitalize;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--first) !important;
}

body {
    width: 100dvw;
    height: 100dvh;
}

input,
textarea {
    padding: 0.313rem;
    border-radius: 0.5rem;
    border: 0.063rem solid var(--second);
    color: var(--first);

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--second);
        text-transform: capitalize;
    }
}

.inpComp {
    padding: 0.625rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .inputField {
        label {
            display: block;
            text-transform: capitalize;
            margin-bottom: 0.25rem;
            color: var(--first);
            font-weight: bold;
        }
    }

    .btnsField {
        display: flex;
        gap: 0.5rem;

        button {
            padding: 0.313rem 0.625rem;
            border-radius: 0.5rem;
            border: none;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.313rem;
            background-color: var(--first);
            color: var(--white);
            transition: all 0.3s ease-in-out;
        }

        .disabledBtn {
            cursor: not-allowed;
            background-color: var(--second);
            transition: all 0.3s ease-in-out;
        }
    }
}

.greenLine {
    background-color: var(--first);
    height: 0.125rem;
    width: 100%;
}

.counterComp {
    padding: 0.625rem 0rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    .startBtn {
        padding: 0.313rem 0.5rem;
        background-color: var(--first);
        color: var(--white);
        border: none;
        border-radius: 0.625rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.313rem;
        justify-self: center;
        align-self: center;
    }

    .mainCounter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        background-color: var(--first);
        border-radius: 0.625rem;

        h1 {
            font-size: 6.25rem;
            color: var(--white) !important;
        }

        button {
            background-color: var(--white);
            color: var(--first);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.125rem;
            width: 3.125rem;
            padding: 1.25rem 0.313rem;
            border-radius: 0rem 1.25rem 1.25rem 0rem;
            font-size: 5rem;
            font-weight: bold;

            &:last-child {
                border-radius: 1.25rem 0rem 0rem 1.25rem;
            }
        }
    }

    .currentTotal {
        display: flex;
        align-items: center;
        gap: 0.313rem;
        background: linear-gradient(45deg, var(--first), var(--second));
        padding: 0rem 0.25rem;
        border-radius: 0.625rem;

        span {
            font-size: 1.563rem;
            text-transform: capitalize;
            color: var(--white);
        }

        img {
            width: 1.563rem;
        }
    }

    .endBtn {
        background-color: var(--error);
        color: var(--white);
        border: none;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.313rem;
        padding: 0.313rem 0.5rem;
    }

    .logs {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        gap: 0.313rem;

        .logItem {
            background-color: var(--first);
            color: var(--white);
            border-radius: 0.625rem;
            padding: 0.25rem 0.313rem;
            overflow: hidden;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.313rem;

            .logRange {
                background-color: var(--second);
                font-size: 1rem;
                padding: 0.313rem;
                border-radius: 0.313rem;
            }

            .logCount {
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                gap: 0.313rem;
            }
        }
    }
}

.tempsList {
    position: relative;
    padding: 0.625rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .temps {
        overflow-y: scroll;
        min-height: 6.26rem;
        max-height: 46.875rem;

        .temp {
            position: relative;
            margin: 0.25rem 0rem;
            padding: 0.625rem;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            border-radius: 0.5rem;
            background-color: var(--first);

            h5,
            p {
                color: var(--white) !important;
            }

            .line {
                background-color: var(--second);
                height: 0.125rem;
                width: 100%;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: start;

                .actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.313rem;

                    span {
                        cursor: pointer;
                    }
                }
            }

            .body {
                p {
                    display: inline;
                    word-break: break-word;
                    white-space: pre-wrap;
                    overflow-wrap: break-word;
                }
            }

            .usedCount {
                position: absolute;
                bottom: 0.313rem;
                right: 0.313rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.125rem;
                color: var(--white);
            }
        }
    }
}

.copyToast {
    background-color: var(--first);
    color: var(--white);
    padding: 0.313rem 0.625rem;
    border-radius: 0.5rem;
    width: fit-content !important;
    position: fixed;
    top: 3.125rem;
    right: 1rem;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.313rem;
    text-transform: capitalize;
    z-index: 99999;

    img {
        width: 1.25rem;
    }
}

.submitToast {
    background-color: var(--first);
    color: var(--white);
    padding: 0.313rem 0.625rem;
    border-radius: 0.5rem;
    width: fit-content !important;
    position: fixed;
    bottom: 3.125rem;
    left: 1rem;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.313rem;
    text-transform: capitalize;
    z-index: 99999;

    img {
        width: 1.25rem;
    }
}

.loaderComp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainLoader {
    width: 100dvw !important;
    height: 100dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}
